QFrame[frameClass="blue"] {
    background-color: rgba(200, 200, 255, 255);
    border: 3px solid black;
    border-radius: 16px;
}

MyFrame QLabel[labelClass="title"] {
    font-weight: bold;
}

QFrame QPushButton {
}

QGraphicsView {
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:1, stop:0 "#693", stop:1 "#cf8");
}

